@import url('http://fonts.cdnfonts.com/css/lohengrin');
@import url('http://fonts.cdnfonts.com/css/aller');
                

/* Navbar container */
body{
  margin:0;
}

.navbar {
/* overflow: hidden; */

font-family: Arial;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
background-color: rgba(8, 40, 73, 0.5)
;

}

/* Links inside the navbar */
.navbar a {
float: left;
margin-left: -10px;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}

.navbar a img{
  height: 50px;
}


/* The dropdown container */
.dropdown {
float: right;
overflow: hidden;

}

.dropdown .dropbtn img{
  height: 50px;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: rgb(0, 53, 102);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  left:auto;
  right:0;
  margin-right:-10px;
}


.slider{
    background-image: url("/assets/Banner1Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
}

.slider button{
    margin: 0;
  position: absolute;
  top: 50%;
  left:49%;
  display: block;
  align-items: center;
}

.slider text {
    display:flex;
    justify-content: center;
    margin-top: 30vh;
}
  
.texts {
    height: 65%;
    align-items: center;

}

.text{
    display: flex;
    justify-content: center;
}

.text p{
    font-weight: bolder;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.ps4 {
    padding-left: 32%;
    margin-top: -20px;
}

.steam{
    padding-left: 46%;
    margin-top: -46px;
}

.xbox{
    padding-left: 57%;
    margin-top: -46px;
}

.button1{
    padding: 10px 45px;
    background-color: rgba(53, 55, 58, 0.5);
    margin-top: -50px;
    font-weight: bolder;
    font-size: 27px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#mybutton{
    position: relative;
    top: 20px;
    right: 90px;
}

.footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }

  .page2{
    background-image: url("/assets/Index2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
}
  



/* =========================================== CHARACTERS CSS =========================================*/

.characters{
    background-color: black;

}

.characters .dante{
    background-image: url("/assets/Dante.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.characters .dante img{
    margin-left: 10%;
    margin-right: -10px;
}
.characters .dante hr{
    width:50%;
}
.characters .v{
    background-image: url("/assets/V.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.characters .v img{
    margin-left: 10%;
    margin-right: 20px;
}
.characters .v hr{
    width:50%;
}
.characters .nero{
    background-image: url("/assets/Nero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.characters .nero img{

    margin-left: 10%;
    margin-right: -20px;
}
.characters .nero hr{
    width:50%;
}
.characters .vergil{
    background-image: url("/assets/Vergil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.characters .vergil img{

    margin-left: 10%;
    margin-right: -50px;
}
.characters .vergil hr{
    width:50%;
}
.characters .lady{
    background-image: url("/assets/Lady.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.characters .lady img{

    margin-left: 10%;
}
.characters .lady hr{
    width:50%;
}
.characters .kyrie{
    background-image: url("/assets/Kyrie.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.characters .kyrie img{

    margin-left: 10%;
    margin-right: 4%;
}
.characters .kyrie hr{
    width:50%;
}

.header{
    font-size: 120px;
    padding-top: 10%;
    padding-left:30% ;
    color: red;
    font-family: 'Lohengrin', sans-serif;
                                                
}
.contents{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    font-size: 50px;
    color: whitesmoke;
}



/* =========================================== CHARACTERS CSS =========================================*/




/* =========================================== REGISTER CSS =========================================*/

.register{
    background-image: url("/assets/Register\ Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.register .titleregister{
    padding-top: 6%;
    width: 100%;
    text-align: center;
    font-family: 'Aller Display', sans-serif;
    color: rgb(191, 0, 0);
    text-shadow: 0px 0px 5px rgb(0, 70, 220);
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(0, 40, 70), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.registerforms{
    width: 100%;
    justify-content: center;
    align-items: center;
 
}
.registerforms .main{
    width: 30%;
    align-self: center;
	justify-content: center;
	align-items: center;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0c1629, #1525ae, #0f1d54);
    box-shadow: 5px 20px 50px #000;
    margin: 0 auto;
    text-align: center;
    font-family: 'Aller Display', sans-serif;
    font-size: 50px;
    color: whitesmoke;
}
.registerforms .main .signup{
    text-align: left;
}
.registerforms .main .signup input{
	width: 80%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    
}
.genderheader{
    font-size: 20px;
    padding-left: 8%;
    width: 100%;
}
.gender{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    font-size:17px;
}
.gender label{
    text-align: right;
    clear: both;
    float:left;
    padding-left: 8%;
   
}
.gender input{
    float: right;
}

.terms{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    font-size:17px;
}

.terms label{
    text-align: left;
    clear: both;
    float:left;
    padding-left: 8%;
   
}

.registerforms .main .signup button{
	width: 60%;
	height: 50px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #1c00b8;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
   
}
.space{
    height: 50px;
}




/* =========================================== REQUIREMENTS CSS =========================================*/

.requirementspage{
    background-image: url("/assets/RequirementsBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    font-size: 100px;
    text-align: center;
    display: block;
    
}
.requirementsheader{
    padding-top: 5%;
    font-size: 120px;
  
    color: rgb(255, 255, 255);
    font-family: 'Lohengrin', sans-serif;
}


.shape{
    height: 550px;
    width: 550px;
    background-color: rgba(100, 129, 158, 0.5);
    border-radius: 30px;
    margin-bottom: 30px;
    float: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}
.shapeheader{
    font-family: 'Aller Display', sans-serif;
    font-size: 30px;
    padding-left: 15px;
    color:rgb(255, 255, 255);
}

.shapecontent{


}


/* =========================================== REQUIREMENTS CSS =========================================*/



/* =========================================== ABOUT CSS =========================================*/

.aboutpage{
    background-image: url("/assets/AboutBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
/* =========================================== ABOUT CSS =========================================*/


