
@import url('http://fonts.cdnfonts.com/css/lohengrin');
@import url('http://fonts.cdnfonts.com/css/aller');
                

/* Navbar container */
body{
  margin:0;
}

.navbar {
/* overflow: hidden; */

font-family: Arial;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
background-color: rgba(8, 40, 73, 0.5)
;

}

/* Links inside the navbar */
.navbar a {
float: left;
margin-left: -10px;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}

.navbar a img{
  height: 50px;
}


/* The dropdown container */
.dropdown {
float: right;
overflow: hidden;

}

.dropdown .dropbtn img{
  height: 50px;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: rgb(0, 53, 102);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  left:auto;
  right:0;
  margin-right:-10px;
  font-family: 'Lohengrin', sans-serif;
}


.slider{
    background-image: url("/assets/Banner1Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
}

.slider button{
    margin: 0;
  position: absolute;
  top: 50%;
  left:49%;
  display: block;
  align-items: center;
}

.slider text {
    display:flex;
    justify-content: center;
    margin-top: 30vh;
}
  
.texts {
    height: 65%;
    align-items: center;

}

.text{
    display: flex;
    justify-content: center;
}

.text p{
    font-weight: bolder;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.ps4 {
    padding-left: 32%;
    margin-top: -20px;
}

.steam{
    padding-left: 46%;
    margin-top: -46px;
}

.xbox{
    padding-left: 57%;
    margin-top: -46px;
}

.button1{
    padding: 10px 45px;
    background-color: rgba(53, 55, 58, 0.5);
    margin-top: -50px;
    font-weight: bolder;
    font-size: 27px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#mybutton{
    position: relative;
    top: 20px;
    right: 90px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }

  .page2{
    background-image: url("/assets/BG2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
}

.about{
    font-family: 'Lohengrin', sans-serif;
    color: white;
    font-size: 95px;
    width: 100%;
    text-align: center;
    padding-top: 1.2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    

}

.about p{
    margin:0px;
    padding-top: 90px;
}

.desc p{
    margin-top: 40px;
    padding-left: 20px;
    font-size: 55px;
    padding-top: 6px;
    
}

.desc{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 60px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 120px;


}

.page3{
    background-image: url("/assets/BG3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
}

.Characters{
    font-family: 'Lohengrin', sans-serif;
    color: white;
    font-size: 90px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.Characters p{
    margin:0px;
    padding-top: 40px;
}

.dante-img img{
    padding: 0px;
    vertical-align: top;
    display: inline-block;
    margin:0px;
    
}

.dante-img{
    display: inline-block;
    margin: 0px;
    padding: 0px;
  
}

.dante{
    font-family: 'Lohengrin', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 460px;

}

.dante p{
    color:rgb(191, 0, 0);
    margin-left: 0px;
    text-align: left;
    display: inline-block;
    
}

.dante p2{
    color: white;
    display:inline-block;
}

.desc2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 55px;
    margin-left: 0px;
    display: inline-block;
    padding-right: 15%;
    float: right;

}

.desc2 p{
    margin-right: 0px;
    padding-right: 0px;
    line-height: 70px;
    display: inline-block;
    margin: 0px;

    
   
}

.page4{
    background-image: url("/assets/Index4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
}

.system{
    font-family: 'Lohengrin', sans-serif;
    color: white;
    font-size: 90px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.system p{
    margin:0px;
    padding-top: 40px;
}

.auto p{
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 60px;
    padding-top: 6px;
    
}

.auto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    margin-top: 0px;
    padding-left: 120px;


}
.desc3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 120px;


}



.page5{
    background-image: url("/assets/Index5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 975px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.page5 .container{
    margin-left: 15%;
    width: 1366px;
    height: 768px;
    display: flex;
    justify-content: center;
    /*  box-shadow is from materialize css's website */
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.page5 .container img {
    width: 100%;
    z-index: -2;
}
.page5 button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

.page5 button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}




/* =========================================== CHARACTERS CSS =========================================*/

.character{
    background-color: black;

}

.character .dantes{
    background-image: url("/assets/Dante.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.character .dantes img{
    margin-left: 10%;
    margin-right: -10px;
}
.character .dantes hr{
    width:50%;
}
.character .v{
    background-image: url("/assets/V.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.character .v img{
    margin-left: 10%;
    margin-right: 20px;
}
.character .v hr{
    width:50%;
}
.character .nero{
    background-image: url("/assets/Nero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.character .nero img{

    margin-left: 10%;
    margin-right: -20px;
}
.character .nero hr{
    width:50%;
}
.character .vergil{
    background-image: url("/assets/Vergil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.character .vergil img{

    margin-left: 10%;
    margin-right: -50px;
}
.character .vergil hr{
    width:50%;
}
.character .lady{
    background-image: url("/assets/Lady.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.character .lady img{

    margin-left: 10%;
}
.character .lady hr{
    width:50%;
}
.character .kyrie{
    background-image: url("/assets/Kyrie.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.character .kyrie img{

    margin-left: 10%;
    margin-right: 4%;
}
.character .kyrie hr{
    width:50%;
}

.header{
    font-size: 120px;
    padding-top: 10%;
    padding-left:30% ;
    color: red;
    font-family: 'Lohengrin', sans-serif;
                                                
}
.contents{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    font-size: 50px;
    color: whitesmoke;
}



/* =========================================== CHARACTERS CSS =========================================*/




/* =========================================== REGISTER CSS =========================================*/

.register{
    background-image: url("/assets/Register\ Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.register .titleregister{
    padding-top: 6%;
    width: 100%;
    text-align: center;
    font-family: 'Aller Display', sans-serif;
    color: rgb(191, 0, 0);
    text-shadow: 0px 0px 5px rgb(0, 70, 220);
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(0, 40, 70), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.registerforms{
    width: 100%;
    justify-content: center;
    align-items: center;
 
}
.registerforms .main{
    width: 30%;
    align-self: center;
	justify-content: center;
	align-items: center;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0c1629, #1525ae, #0f1d54);
    box-shadow: 5px 20px 50px #000;
    margin: 0 auto;
    text-align: center;
    font-family: 'Aller Display', sans-serif;
    font-size: 50px;
    color: whitesmoke;
}
.registerforms .main .signup{
    text-align: left;
}
.registerforms .main .signup input{
	width: 80%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    
}
.genderheader{
    font-size: 20px;
    padding-left: 8%;
    width: 100%;
}
.gender{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    font-size:17px;
}
.gender label{
    text-align: right;
    clear: both;
    float:left;
    padding-left: 8%;
   
}
.gender input{
    float: right;
}

.terms{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    font-size:17px;
}

.terms label{
    text-align: left;
    clear: both;
    float:left;
    padding-left: 8%;
   
}

.registerforms .main .signup button{
	width: 60%;
	height: 50px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #1c00b8;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
   
}
.space{
    height: 50px;
}




/* =========================================== REQUIREMENTS CSS =========================================*/

.requirementspage{
    background-image: url("/assets/RequirementsBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    font-size: 100px;
    text-align: center;
    display: block;
    
}
.requirementsheader{
    padding-top: 5%;
    font-size: 120px;
  
    color: rgb(255, 255, 255);
    font-family: 'Lohengrin', sans-serif;
}


.shape{
    height: 550px;
    width: 550px;
    background-color: rgba(100, 129, 158, 0.5);
    border-radius: 30px;
    margin-bottom: 30px;
    float: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}
.shapeheader{
    font-family: 'Aller Display', sans-serif;
    font-size: 30px;
    padding-left: 15px;
    color:rgb(255, 255, 255);
}

.shapecontent{
    color: white;
    font-family: 'Aller Display', sans-serif;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 40px;

}

.shapecontent h1{
    color: lightgray;
    display: inline;
    font-size: 35px;
}


/* =========================================== REQUIREMENTS CSS =========================================*/




